QWidget {
    background-color: #c29c61;
}

QSlider::groove:horizontal {
    border: 1px solid #88652d;
    height: 4px;
    background: #88652d;
    margin: 2px 0;
    border-radius: 3px;
}
QSlider::handle:horizontal {
    background: #e4ab51;
    border: 1px solid #e4ab51;
    width: 8px;
    height: 8px;
    margin: -6px 0;
    border-radius: 4px;
}
QSlider::handle:horizontal:hover {
    background: #e2bd83;
    border-color: #e2bd83;
    width: 8px;
    height: 8px;
    margin: -6px 0;
    border-radius: 4px;
}
QSlider::sub-page:horizontal {
    background: #88652d;
    border-radius: 3px;
}

QPushButton {
    color: white;
    font-size: 20px;
    background-color: #2eb482;
}
QPushButton:hover {
    background-color: #2cda9a;
}

QPushButton#editBtn {
    border-radius: 20px;
}

QPushButton#repeatBtn[active="true"] {
    background-color: #545454;
}
